In [29]:
import pandas as pd

pip install sqlalchemy psycopg2-binary

In [86]:
!pip install sqlalchemy psycopg2-binary

DEPRECATION: Loading egg at /opt/homebrew/lib/python3.11/site-packages/jupyter-1.0.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: sqlalchemy in /opt/homebrew/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: psycopg2-binary in /opt/homebrew/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)

In [70]:
pip install mysql-connector-python

DEPRECATION: Loading egg at /opt/homebrew/lib/python3.11/site-packages/jupyter-1.0.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 10.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [87]:
from sqlalchemy import URL
from sqlalchemy import create_engine
from sqlalchemy.ext.asyncio import create_async_engine

In [91]:
user = 'anii'
password = 'Wr7EVk8oevYuva'
url_ods = URL.create(
    "postgresql",
    username="anii",
    password="Wr7EVk8oevYuva", 
    host="localhost",
    database="anii_ods",
    port = "5439",
    
)

url_dw = URL.create(
    "postgresql",
    username="anii",
    password="Wr7EVk8oevYuva", 
    host="localhost",
    database="anii_dw",
    port = "5439",
    
)

url_gespro = URL.create(
    "mysql",
    username="cognus",
    password="2018.C0gNus.A", 
    host="localhost",
    database="gespro_generic",
    port = "3310",
    
)

In [80]:
#engine = create_engine("mysql://cognus:2018.C0gNus.A@localhost:3310/gespro_generic")
#engine = create_async_engine("mysql+asyncmy://cognus:2018.C0gNus.A@localhost:3310/gespro-generic?charset=utf8mb4")

In [92]:
#engine = create_engine('postgresql://anii:Wr7EVk8oevYuva@localhost:5439/anii_ods')
engine = create_engine(url_dw)

In [93]:
engine.connect()

In [122]:
query = """
SELECT  
di.id_instrumento
,dp.id_proyecto_gespro
,dp.codigo_gespro
,dp.instrumento
,dp.fecha_inicio_real
FROM anii_portal.dim_proyectos dp 
        left join anii_portal.dim_instrumentos di on di.id_instrumento = dp.id_instrumento
        WHERE EXTRACT(YEAR FROM dp.fecha_inicio_real) = 2022;
"""

In [123]:
pd.read_sql(query,con=engine)

,id_instrumento,id_proyecto_gespro,codigo_gespro,instrumento,fecha_inicio_real
0,67.0,165222,POS_EXT_2020_1_165222,POS_EXT,2022-03-01
1,67.0,165362,POS_EXT_2020_1_165362,POS_EXT,2022-02-01
2,67.0,165475,POS_EXT_2020_1_165475,POS_EXT,2022-02-01
3,67.0,165550,POS_EXT_2020_1_165550,POS_EXT,2022-01-15
4,102.0,166524,PD_NAC_2021_1_166524,PD_NAC,2022-02-01
...,...,...,...,...,...
1202,NaN,174483,HPI_X_2022_1_174483,HPI_X,2022-11-23
1203,NaN,174487,HPI_X_2022_1_174487,HPI_X,2022-12-03
1204,NaN,174566,HPI_X_2022_1_174566,HPI_X,2022-12-27
1205,NaN,174653,HPI_X_2022_1_174653,HPI_X,2022-12-16
1206,NaN,174707,CIP_X_2022_1_174707,CIP_X,2022-12-29

In [ ]:
df = pd.read_csv('yello_tripdata_2021-01.csv', nrows=100)