In [1]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Users/davidescandon/.pyenv/versions/3.10.12/lib/python3.10/site-packages (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/davidescandon/.pyenv/versions/3.10.12/lib/python3.10/site-packages (from pyarrow) (2.1.2)

In [2]:
pip install fastparquet

DEPRECATION: Loading egg at /opt/homebrew/lib/python3.11/site-packages/jupyter-1.0.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: fastparquet in /opt/homebrew/lib/python3.11/site-packages (2024.5.0)
Requirement already satisfied: pandas>=1.5.0 in /opt/homebrew/lib/python3.11/site-packages (from fastparquet) (2.1.0)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (from fastparquet) (1.25.2)
Requirement already satisfied: cramjam>=2.3 in /opt/homebrew/lib/python3.11/site-packages (from fastparquet) (2.9.0)
Requirement already satisfied: fsspec in /opt/homebrew/lib/python3.11/site-packages (from fastparquet) (2024.9.0)
Requirement already satisfied: packaging in /opt/homebrew/lib/python3.11/site-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.3.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine("postgresql://root:root@localhost:5416/ny_taxi")

In [5]:
pd.__version__

'2.1.0'

In [10]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet", engine = 'fastparquet')
len(df)

2964624

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2.0,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186.0,79.0,2.0,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1.0,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140.0,236.0,1.0,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1.0,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236.0,79.0,1.0,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1.0,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79.0,211.0,1.0,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1.0,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211.0,148.0,1.0,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [13]:
print(pd.io.sql.get_schema(df,name = 'yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" FLOAT(53),
	"DOLocationID" FLOAT(53),
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [14]:
df.to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

624

In [15]:
from time import time

In [ ]:
while True:
    t_start = time()
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f secon' % (t_end-t_start))

inserted another chunk, took 362.288 secon
inserted another chunk, took 241.128 secon
inserted another chunk, took 3084.909 secon
inserted another chunk, took 447.484 secon
inserted another chunk, took 274.914 secon
inserted another chunk, took 244.856 secon
inserted another chunk, took 295.395 secon
inserted another chunk, took 2660.774 secon