In [1]:
import os
import argparse

from time import time

import psycopg2 
import pandas as pd 
from sqlalchemy import create_engine

In [28]:
#user = params.user
user = 'postgres'
#password = params.password
password = 'postgres'
#host = params.host 
host = 'localhost'
#port = params.port 
port = 5433
#db = params.db
db = 'ny_taxi'
#table_name = params.table_name
table_name = 'dim_zones'
#url = params.url

engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

#conn = engine.connect()

In [16]:
engine

Engine(postgresql://postgres:***@172.20.0.3172.19.0.2:5432/ny_taxi)

In [17]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
zones = pd.read_csv(url)

In [18]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [29]:
zones.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

zones.to_sql(name=table_name, con=engine, if_exists='append')

265